.history {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  &__open_btn {
    width: 9%;
    padding-bottom: 9%;
    position: absolute;
    top: 1.8%;
    right: 2.7%;
    z-index: 10;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    position: relative;
    z-index: 20;
  }

  &__result {
    width: 66.7%;
    height: 66.8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__close_btn {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 8.3%;
  }

  &__title {
    color: #ffefbb;
    font-size: 14px;
    margin: 4% 0;
    text-align: center;
    font-weight: 900 * 0.71;
    letter-spacing: 0.5px;

    @media screen and (min-width: 500px) {
      font-size: 18px;
    }
    @media screen and (min-width: 650px) {
      font-size: 24px;
    }
  }

  &__list {
    overflow-y: scroll;
    margin-bottom: 2px;
    padding: 0 8%;

    &::-webkit-scrollbar {
      display: none;
    }

    &__stateMsg {
      color: #ffefbb;
      text-align: center;
      font-size: 1.2em;
    }

    @media screen and (min-width: 500px) {
      padding: 0 16px;
    }
    @media screen and (min-width: 650px) {
      padding: 0 42.6px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 1.5% 4.2%;
    position: relative;
    align-items: center;
    border-radius: 3%;
  }

  &__winnerText {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: left;
    width: 100%;
    color: #EEEEEE;
    margin: 0;
    padding-left: 3%;
    white-space: nowrap;

    @media screen and (min-width: 500px) {
      font-size: 24 * 0.71px;
    }
    @media screen and (min-width: 650px) {
      font-size: 32 * 0.71px;
    }
  }

  &__payrateText {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: right;
    width: 100%;
    color: #ffefbb;
    margin: 0;
    padding-right: 3%;

    @media screen and (min-width: 500px) {
      font-size: 24 * 0.71px;
    }

    @media screen and (min-width: 650px) {
      font-size: 32 * 0.71px;
    }
  }

  &__avatar {
    width: 20%;
    height: 20%;
    object-fit: cover;
  }

  &__winnerText_gameId {
    text-align: left;
  }
}
